body,
html {
  margin: 0;
  width: 100%;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

}
.container {
  margin-top: 180px;
  min-width: 100%;
  min-height: calc(100vh - 180px);
}
.appBar {
  background: #293858 !important;
  box-shadow: none !important;
  padding: 16px !important;
  color: #fff !important;
  margin-bottom: 16px !important;
  &>div {
    display: flex;
    flex-direction: column;
    & > h2 {
      padding: 0;
      margin: 0;
      font-family:"Oleo Script";
      -webkit-font-smoothing: antialiased;
    }
    & > span {
      color: #777;
    }
  }
}
.loading {
  display:block;
  text-align: center;
  & > h1 {
    padding: 24px 0 20px;
    margin: 0;
    color: #fff;
  }
}
.MuiContainer-maxWidthLg{
  max-width: 1920px !important;
}
.MuiFormLabel-root,.MuiInputBase-input,.MuiIconButton-label{
  color: #fff !important;
}
.MuiInput-underline::before{
  border-color: rgba($color: #aaa, $alpha: .87) !important;
}
.MuiTypography-colorInherit{
  color: rgba($color: #000, $alpha: .87) !important;
}
  .MuiPickersDay-daySelected 
.MuiTypography-colorInherit
{
    color: #fff !important;
  }

.MuiPickersCalendarHeader-switchHeader .MuiIconButton-label 
{ 
  color:rgba(0,0,0,.54)!important;
}
